{% extends 'header.html'%} {% block body %}
<body>
  {%from "_formhelpers.html" import render_field%}
  <div>
    <form method="post" action="/register/">
      <dl>
        {{render_field(form.first_name)}} {{render_field(form.last_name)}}
        {{render_field(form.phone_number)}} {{render_field(form.username)}}
        {{render_field(form.email)}} {{render_field(form.password)}}
        {{render_field(form.confirm_password)}}
        {{render_field(form.neigborhood)}} {{render_field(form.city)}}
        {{render_field(form.department)}} {{render_field(form.img)}}
      </dl>
      <p><input type="text" valur="Register" /></p>
    </form>
    {% if error %}
    <p><strong> Error:</strong> {{error}}</p>
    {% endif%}
  </div>
</body>
{% endblock %}
